* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;	
}

/*layout principal*/

body {

	font-size: var(--tamanho-base-fonte);
	font-family: var(--fonte-padrao);
	overflow-x: hidden;
	overflow-y: hidden;
	min-height: 100vh;
	position: relative;
	background-image: url(../Portifolio/imagens/leozin.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 17%;
	
}

/*#container-principal {

	

}*/

#logo-nome-barra {

	
	display: flex;
	width: 100%;
	
    margin-top: 2vh;
	align-items: center;
	
	
}

#logo{

	margin-left: 2vw;

}

#nome {

	margin-left: 0.5vw;
	color: #4b8aa3;
	

}

#barra-navegacao {

	
	margin-left: auto;
	margin-right: 2vw;

}

.espaco-opcoes {

	margin-right: 2vw;

}


#rede-social-direitos {
	display: flex;
	margin-left: 2vw;
	margin-bottom: 3vh;
	position: absolute;
	bottom: 0;
	left: 0;
	align-items: center;
}

#direitos-reservados {

	margin-left: 1vw;
	opacity: 0.4;
	
}


/*Formatação*/

:root {

	--cor-primaria: ;
    --cor-secundaria: ;
    --cor-fundo: ;
    

    --tamanho-base-fonte: 1rem; 
    --fonte-padrao: Arial, Helvetica, sans-serif;
	--cor-fonte-azul:  #4b8aa3;

}

.link-barra a {

    text-decoration: none;
	color: var(--cor-fonte-azul);
	font-size: 1.1rem;
}

a:link, a:viisted {
	text-decoration: none;
	margin-right: 30px;
	color: #4b8aa3;
}



a:hover {
	color:  #e34461;
	

}

a:active {

	color: black;
}


.icone {
  
  transition: transform 0.2s;  /*transform é a propriedade, 0.2 é op tempo que leva para a transição*/ 
  cursor: pointer;       /*muda o cursor para a mãozinha*/
}

.icone:hover {
  transform: scale(1.5); /* Aumenta 50% ao passar o mouse */
}

